.embeddedServiceHelpButton .helpButton .uiButton {
  background-color: #ff0000 !important;
  font-family: "Arial", sans-serif !important;
}
.embeddedServiceHelpButton .helpButton .uiButton:focus {
  outline: 1px solid #cc0000 !important;
}